# 根配置文件，使 Lombok 不要再向上级目录查找
config.stopBubbling = true

# 为所有方法添加 @Generated 注解, 标识该方法为自动生成，避免代码质量检查工具误报
lombok.addLombokGeneratedAnnotation = true

# 禁止在项目中使用 @Data 注解，强制开发者思考数据类的可变性
# @Data 包含了 @Getter、@Setter、@RequiredArgsConstructor、@ToString、@EqualsAndHashCode
# @Setter 默认创建可变类，这在多线程和复杂逻辑中是潜在的 bug 源头
# @EqualsAndHashCode 和 @ToString 会包含所有字段。
#   当字段包含集合、JPA 关联实体或存在双向引用时，极易引发性能问题或 StackOverflowError
# @EqualsAndHashCode 默认不包含父类字段，会破坏 equals 契约
lombok.data.flagUsage = error

# 默认启用链式调用，等同于在每个类都增加 @Accessors(chain=true)
lombok.accessors.chain = true

